body{
  background-color: #c7b6d9;
}
.title{
  padding: 20px;
  border:15px;
  font-family: 'Poor Story', cursive;
  color: #3c3642;
  text-align: center;
}
#square{
  padding: 30px;
  border: 25px;
  height:300px;
  width: 300px;
  background-color: #89a8ab;
}
