body{
  background-color: #c7b6d9;
}
.title{
  padding: 20px;
  border:15px;
  font-family: 'Poor Story', cursive;
  color: #3c3642;
  text-align: center;
}
.square{
  height:300px;
  width: 300px;
  background-color: #89a8ab;
}
.square-end-frame{
  background-color: #b8f4ff;
  width: 500px;
}
.fadeInAnimation{
  transition-property: background-color, width;
  transition-duration: 2s;
}
.fadeOutAnimation{
  transition-property: background-color, width;
  transition-duration: 1s;
}
.hp{
padding: 25px;  
}
#padding{
padding: 20px;

}
.button{
background-color: black;
color: #c7b6d9;
border-radius: 25px;
}
.button:hover{
background-color: white;
color: black;
}
