@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Montserrat+Alternates:ital,wght@1,100&display=swap');
body{
  background-color: #edd0ce;
}
h1{
font-family: font-family: 'Crimson Pro', serif;
font-family: 'Montserrat Alternates', sans-serif;
}
.box{
  width: auto content;
  border: 8px solid #101F36;
  padding: 20px;
  margin: auto content;
}
p{
color: #101F36;
}
.pic{
  position: right;
}
.button{
background-color: black;
color: #c7b6d9;
border-radius: 25px;
}
.button:hover{
background-color: white;
color: black;
}
